%-*-Erlang-*-

{deps, [{'erlog_server', ".*",{git, "git@github.com:zkessin/erlog-server.git", {branch, "master"}}},
	{erlog_unit, ".*", {git, "git@github.com:zkessin/erlog-unit.git", {branch, "master"}}}
]}.
{erl_opts,              [debug_info]}.
{cover_enabled,         true}.
{cover_print_enabled,   true}.
{plugins, [erlog_server_plugin]}.
